<nav class="navbar fixed-top navbar-expand-lg navbar-dark navbar-bg-custom border-bottom" data-bs-theme="dark">
  <div class="container-fluid">
    <i class="bi bi-cart navbar-brand"></i>
    <a class="navbar-brand" href="#">Sneaker Head</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/dashboard']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/cartItems']">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/userOrders']">Orders</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-1">
          <span class="nav-link text-white">Hello, {{name}}</span>
        </li>
        <li class="nav-item">
          <button (click)="logout()" class="btn btn-danger nav-link active">Log Out</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
