<nav class="navbar fixed-top navbar-expand-lg navbar-dark navbar-bg-custom border-bottom" data-bs-theme="dark">
    <div class="container-fluid">
      <i class="bi bi-cart navbar-brand"></i>
      <a class="navbar-brand" href="#">Sneaker Heads</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active admin" [routerLink]="['/admin/login']">Admin</a>
          </li>        
          <li class="nav-item">
            <a class="nav-link active sign" [routerLink]="['/user/login']">Hello, sign in</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="row"> 
    <div class="col-md-12"> 
      <img class="d-block w-100" src="https://media.gq.com/photos/60d21930430ae505071c3806/16:9/w_2560%2Cc_limit/SNEAKER_GUIDE_OPENER.jpg" alt="Sneaker Image"> 
    </div> 
  </div> 
  <div class="card"> 
    <div class="card-body"> 
      <h5 class="card-title bold">STEP UP YOUR STYLE WITH OUR PREMIUM SNEAKER COLLECTION</h5>
       <p class="card-text">Welcome to the ultimate sneaker destination! Our online store offers an unparalleled selection of the hottest and most sought-after sneaker styles from the world's leading brands. Whether you're a dedicated sneakerhead or simply love to stay on top of the latest fashion trends, you'll find everything you need right here. From classic silhouettes to cutting-edge designs, our curated collection caters to all tastes and preferences. Shop with confidence, knowing that every pair is 100% authentic and backed by our hassle-free return policy. Experience the convenience of online shopping like never before and step out in style with the perfect pair of sneakers for any occasion.</p>
       </div> 
      </div> 
      <div class="features-section"> 
        <div class="feature-item"> 
          <div class="feature-icon"> 
            <i class="bi bi-box"></i> 
          </div> 
          <h4>AUTHENTIC SNEAKERS</h4>
           <p>100% genuine shoes from top brands</p> 
          </div> <div class="feature-item"> 
            <div class="feature-icon">
               <i class="bi bi-arrow-return-left"></i> 
              </div> 
              <h4>EASY RETURNS</h4>
               <p>Hassle-free 7-day return policy</p> 
              </div> 
              <div class="feature-item">
                 <div class="feature-icon">
                   <i class="bi bi-truck"></i> 
                  </div> 
                  <h4>FREE DELIVERY</h4>
                   <p>Enjoy free shipping on all orders</p>
                   </div> 
                  </div> 
                  <footer> 
                    <p>&copy; 2024 The Sneaker Store. All rights reserved.</p> 
                  </footer>